/* Estilização da página de home */

main {
    margin-top: 5rem;
}

/* Estilização do banner do site */

#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.25rem;
    margin-bottom: 7.5rem;
}

#banner h1 {
    font-size: 5.9rem;
    font-weight: 400;
}

#banner p {
    margin-top: -2.5rem;
    font-size: 2.6rem;
    font-weight: 500;
}

hr {
    width: 100%;
    color: var(--quartiary);
}

/* Estilização da chamada da página */

#chamada {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
    text-align: center;
}

#chamada h2 {
    font-size: 3rem;
    font-weight: 400;
}

#chamada p {
    font-size: 1.5rem;
}

/* Estilização da avaliação da página */

#avaliacao {
    padding-top: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

#avaliacao div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#avaliacao p {
    text-align: center;
    font-size: 1.5rem;
    margin-right: 4rem;
}

#avaliacao img {
    border-radius: 9999px;
    width: 12rem;
    height: 12rem;
    border: solid #FD6161 12px;
}

#avaliacao span {
    color: var(--primary);
    font-weight: 700;
}

#marca-esquerda {
    transform: rotate(180deg);
    transform: scaleX(-1);
    align-self: flex-end;
}

#marca-direita {
    margin-left: -4rem;
    transform: scaleX(1);
    align-self: flex-start;
}