/* Estilização da página de sobre */

main {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

main > p {
    text-align: center;
    font-size: 1.5rem;
}

#staff {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#staff hr {
    border: var(--terciary) 0.125rem solid;
    z-index: -1;
    position: absolute;
    width: 100%;
}

#staff img {
    width: 8rem;
    height: 8rem;
    border-radius: 9999px;
}